<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mis reservas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let booking of bookings">
    <ion-card-header>
      <ion-card-title>{{ booking.lesson.name + " (" + booking.student.name + ")" }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ booking.time + ' ' + booking.date }}
      <ion-item>
        <ion-button
          fill="outline"
          color="danger"
          slot="end"
          (click)="presentAlert(booking.id)"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div style="text-align: right;">
    <ion-button class="ion-padding" routerLink="/app-booking">Añadir reserva</ion-button>
  </div>
</ion-content>
