<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mis reservas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let reserva of reservas">
    <ion-card-header>
      <ion-card-title>{{ reserva.studentName }}</ion-card-title>
    </ion-card-header>

    <ion-card-content> {{ reserva.idClass }} </ion-card-content>
    <ion-item>
      <ion-button
        fill="outline"
        color="danger"
        slot="end"
        id="present-alert"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-alert
      trigger="present-alert"
      header="¿Desea borrar esta reserva?"
      [buttons]="alertButtons"
      (didDismiss)="setResult($event)"
    ></ion-alert>
  </ion-card>
</ion-content>
