<ion-tabs (ionTabsDidChange)="tabDidChange()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="mybookings"
      href="/tabs/mybookings"
      [hidden]="this.user === null"
    >
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Mis reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" href="/login" [hidden]="this.user !== null">
      <ion-icon aria-hidden="true" name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="profile"
      href="../profile"
      [hidden]="this.user === null"
    >
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
