
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
  }

.button-container ion-button {
  margin-bottom: 10px;
  flex: 1;
  align-self: center; 
}

ion-icon {
  margin-right: 5px;
}