<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Material de estudio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Primaria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-text-center">
        <ion-col>
          <ion-row *ngFor="let document of primaryDocuments">
            <ion-item (click)="getFileName(document.name)">
              <ion-icon name="book-outline"
                >{{ document.description }} - {{ document.size }}MB</ion-icon
              >
              <span class="link"
                >{{ document.description }} - {{ document.size }}MB</span
              >
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Secundaria</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-text-center">
        <ion-col>
          <ion-row *ngFor="let document of secondaryDocuments">
            <ion-item (click)="getFileName(document.name)">
              <ion-icon name="book-outline"></ion-icon>
              <span class="link"
                >{{ document.description }} - {{ document.size }}MB</span
              >
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Bachillerato</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-text-center">
        <ion-col>
          <ion-row *ngFor="let document of bachDocuments">
            <ion-item (click)="getFileName(document.name)">
              <ion-icon name="book-outline"></ion-icon>
              <span class="link"
                >{{ document.description }} - {{ document.size }}MB</span
              >
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Ciclos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-text-center">
        <ion-col>
          <ion-row *ngFor="let document of masterDocuments">
            <ion-item (click)="getFileName(document.name)">
              <ion-icon name="book-outline"></ion-icon>
              <span class="link"
                >{{ document.description }} - {{ document.size }}MB</span
              >
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
