<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked" aria-label="dni"
          >Documento nacional de identidad</ion-label
        >
        <ion-input
          type="text"
          [(ngModel)]="user.dni"
          [clearInput]="true"
          disabled
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" aria-label="name">Name</ion-label>
        <ion-input
          type="name"
          [(ngModel)]="user.name"
          [clearInput]="true"
          [disabled]="!edition"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" aria-label="Email">Email</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="user.email"
          [clearInput]="true"
          [disabled]="!edition"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" aria-label="phone">Teléfono</ion-label>
        <ion-input
          type="tel"
          [(ngModel)]="user.phone"
          [clearInput]="true"
          [disabled]="!edition"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" aria-label="password"
          >Contraseña</ion-label
        >
        <ion-input
          type="password"
          [(ngModel)]="user.password"
          [clearInput]="true"
          disabled
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ng-container *ngIf="!edition">
          <ion-button (click)="enableEdit()" expand="block"
            >Editar datos</ion-button
          >
        </ng-container>
        <ng-container *ngIf="edition">
          <ion-button (click)="saveData()" expand="block"
            >Guardar datos</ion-button
          >
        </ng-container>

        <ion-button id="open-modal" expand="block"
          >Cambiar contraseña</ion-button
        >       
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="logout()" class="log-out">Cerrar sesión</ion-button>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Cambiar contraseña</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item class="ion-padding">
          <ion-input
            type="password"
            fill="solid"
            helperText="Enter a valid password"
            [clearInput]="true"
            [(ngModel)]="newPassword"
            label="Introduzca la nueva contraseña" labelPlacement="floating"
            password
          ></ion-input>
        </ion-item>
        <ion-item class="ion-padding">
          <ion-input
            type="password"
            fill="solid"
            [clearInput]="true"
            [(ngModel)]="repeatPassword"
            (ionInput)="verifyPasswords()"
            [ngClass]="{'ion-invalid': !areTheyEqual}"
            label="Repita la nueva contraseña" labelPlacement="floating"
            helperText="Enter a valid password"
            password
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!areTheyEqual">Las contraseñas no coinciden</ion-text>
        <ion-button (click)="savePassword()" [disabled]="!areTheyEqual" class="ion-padding">Guardar nueva contraseña</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-grid>
