.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
  }

.button-container ion-button {
  margin-bottom: 10px;
  flex: 1;
  align-self: center; 
}

.header-content {
    display: grid;
    grid-template-columns: auto 100px;
    justify-content: space-between;
  }
  
  .header-image {
    max-width: 75px;
    margin-left: 25px;
    margin-bottom: 6px;
    height: auto;
  }

.button1 {
    --background: #d83e96;
    
}

.button2 {
    --background: #FAE575
}

.button3 {
    --background: #4f9ced;
}