<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Documentación</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center" *ngFor="let document of documents">
    <ion-card-header>{{document.description}} - {{document.size}}MB</ion-card-header>
    <ion-card-content>
            <ion-button (click)="getFileName(document.name)">
                <ion-icon name="cloud-download-outline" style="margin-right: 2px;"></ion-icon>
                Descargar...              
            </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
