ion-item {
  margin-bottom: 10px;
}

ion-datetime {
  align-self: center;
}

ion-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Ajusta según sea necesario */
}
